<div>
  <%= link_to "Back", coins_path, class: 'button'  %>
</div>

<div class="row">
  <div id=class="text-center padder tile">
    <h1 id="title"> <%= @coin.name %> </h1>
    <h2> <script type="text/javascript">
            baseUrl = "https://widgets.cryptocompare.com/";
            var scripts = document.getElementsByTagName("script");
            var embedder = scripts[ scripts.length - 1 ];
            (function (){
            var appName = encodeURIComponent(window.location.hostname);
            if(appName==""){appName="local";}
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            var theUrl = baseUrl+'serve/v1/coin/chart?fsym=<%=@coin.name%>&tsym=USD';
            s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
            embedder.parentNode.appendChild(s);
            })();
          </script>
     </h2>

  </div>
</div>

<% #PICTURE %>
<div class="row">
  <div class="text-center padder cointile">
    <img class="coinimg" src=<%= @coin.picture %> alt=<%= @coin.name %>>
    <p> <%= @coin.description %></p>
    <div> Average Stability Score:</div>
    <% for i in 1..@comment_rating %>
      <span><i class="fab fa-bitcoin"></i></span>
    <% end %>



    <div>Current price of <%= @coin_price_key %> in USD $<%= @coin_price_value %> </div>


    <% if current_user != nil %>
      <% if current_user.admin? %>
        <%= link_to "Delete Coin", coin_path(@coin.id), class: 'button', method: :delete, data: {confirm: 'Are your sure?'} %>
        <%= link_to "Edit Coin", edit_coin_path(@coin.id), class: 'button' %>
      <% end %>
    <% end %>

  </div>
</div>




<!-- <div class="row">
  <div class="text-center tile padder ">



  </div>
</div> -->

<div class="row">
  <div class="text-center tile padder">
    <h2> Comments for <%= @coin.name %> </h2>
    <% if user_signed_in? %>
      <%= link_to "Add Comment", new_coin_comment_path(@coin), class: 'button' %>
    <% end %>
  </div>
</div>



    <ul>
      <% @comments.each do |comment| %>
        <div class="row">
          <div class="text-center commenttile padder">
          <div class="commenttitle"><h3> <%= comment.title  %> </h3>
            <p class="floatright"> <%= comment.body %> </p>

          </div>

          <div class="commentinfo">
            <p> Stability Rating:
            <% for i in 1..comment.rating %>
              <span><i class="fab fa-bitcoin"></i></span>
            <% end %> </p>

            <p> Initial investment date <%= comment.date %> </p>

            <p> Amount of Coins Invested: <%= comment.initial_coin_deposit %></p>

            <% if !comment.value.nil? %>
            <p> Value change: <%= comment.value %>% </p>
            <% end %>




          </div>

          <% if current_user != nil %>
            <% if current_user.admin? %>

              <div class="commentinfo">
              <p>Admin Buttons</p>
              <%= link_to "Edit Comment", edit_coin_comment_path(@coin, comment), class: 'button'  %>
              <%= link_to "Delete Comment", coin_comment_path(@coin, comment), class: 'button', method: :delete, data: {confirm: 'Are your sure?'} %>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      <% end %>
    </ul>
